[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
numpy = "*"
seaborn = "*"
spacy = "*"
tensorflow = "==2.8.2"
scikit-learn = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
